.root {
    -fx-background-color: linear-gradient(to bottom, #B1DFF3, #FFFFFF);
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #005074;
}

.label-header {
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #005074;
    -fx-font-weight: bold;
    -fx-padding: 0 0 2 0;
}

.label-bright {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #005074;
    -fx-padding: 0 0 7 0;
}

.field-label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #006994;
    -fx-min-width: 80;
}

.data-label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #005074;
}

.result-display {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #9CC3D5;
    -fx-border-width: 1;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 11pt;
    -fx-text-fill: #00415C;
    -fx-padding: 5;
}

TextArea.result-display {
    -fx-control-inner-background: #f8f9fa;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-font-size: 11pt;
    -fx-text-fill: #00415C;
}

.separator {
    -fx-background-color: transparent;
    -fx-border-color: derive(#9CC3D5, -10%);
}

.scroll-pane .content {
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-background-insets: 0;
    -fx-padding: 5;
}

HBox {
    -fx-alignment: center-left;
}

.field-label {
    -fx-min-width: 80;
}